<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        id          = "com.mitatehtais.app"
        version     = "2.1.0" >

<!-- versionCode is optional and Android only -->

  <name>Mitä tehtäis?</name>

    <icon src="icon.png" />

  <description>
      App for families, for finding things to do.
  </description>

  <author email="mtehtais@gmail.com">
      Silja Gustafsson
  </author>
  
<plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

  <access origin="*"/>

<access origin="mailto:*" launch-external="yes" />

</widget>
